<ul class='show_head'>
  <li><%= link_to "質問一覧", questions_path %></li>
  <li><%= link_to "質問検索", search_questions_path %></li>
  <li><%= link_to "質問作成", new_question_path, data: {"turbolinks"=>false} %></li>
</ul>