<%= form_with(url: search_questions_path, local: true, method: :get, class: "search-form", id: "qf") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input", id: "qt" %>
  <%= form.submit "検索", class: "search-btn", id: "qs" %>
<% end %>
<div class='question_wrapper'>
  <div class='question_index'>
    <h1>質問一覧</h1>
    <div class="contents low">
        <%= question_lists(@questions) %>
    </div>
    <nav class='pagination'>
      <ul class='pagination'>
        <li class='prev_page'></li>
        <li class='active_page'></li>
        <li class='page_item'></li>
        <li class='next_page'></li>
      </ul>
    </nav>
  </div>
  <div class='question_aside'>
    <div class='question_category'>
      <h3>カテゴリーから探す</h3>
      <div class='category_row'>
      </div>
    </div>
    <div class='question_answer'>
      <h3>回答数ランキング</h3>
      <div class='ranking_answer'>
      </div>
    </div>
    <div class='question_like'>
      <h3>いいね数ランキング</h3>
      <div class='ranking_like'>
      </div>      
    </div>
  </div>
</div>