<div class="contents row">
  <div class="container">
    <%= form_with(model: @question, local: true) do |form| %>
      <h3>質問しちゃう？？</h3>
      <%= render partial: "form", locals: { form: form } %>
    <% end %>
  </div>
</div>