<div class='wrapper'>
  <div class='nav_main'>
    <%= render "articles/header"%>
  </div>
  <div class='main'>
    <div class='main_menu'>
      <h1 class="head_en">Chat Page</h1>
      <h3 class="head__ja">チャットページ</h3>
      <%= render "rooms/header"%>
    </div>
    <div class='main_content'>
      <div class="chat">
        <%= render "main_chat" %>
      </div>
    </div>
  </div>
</div>