<div class='wrapper'>
  <div class='nav_main'>
    <%= render "articles/header"%>
  </div>
  <div class='main'>
    <div class='main_menu'>
      <h1 class="head_en">My page</h1>
      <h3 class="head__ja">マイページ</h3>
    </div>
    <div class='main_content'>
      <div class="side-bar">
        <%= render "side_bar"%>
      </div>
      <div class="chat">
        <%= render "main_chat" %>
      </div>
    </div>
  </div>
</div>