<% if article.comment_ids.empty? %>
  <div class='bomen'>
    <i class="far fa-comment"></i>: <%= article.comment_ids.count %>
  </div>
<% else %>
  <div class='bomen'>
    <i class="far fa-comment"></i>: <%= article.comment_ids.count %>
  </div>
<% end %>