<ul class='show_head'>
  <li><%= link_to "記事一覧", articles_path %></li>
  <li><%= link_to "記事検索", search_articles_path %></li>
  <li><%= link_to "投稿する", new_article_path, class: "post", data: {"turbolinks"=>false} %></li>
<ul class='show_head'>