<div class="content_post_question">
  <div class='q_category'><%=link_to question.category.name, questions_path %></div>
  <div class='q_title'><%= link_to question.title, question_path(question.id), method: :get %></div>
  <p class="q_time"><%= l question.created_at.to_s(:datetime_jp) %></p>
</div>
