<div class="contents row">
  <p><%= @name %>さんの投稿一覧</p>
  <% @articles.each do |article| %>
    <%= render partial: "articles/article", locals: { article: article } %>
  <% end %>
</div>
<div class="contents low">
  <% @questions.each do |question| %>
    <%= render partial: "questions/question", locals: { question: question } %>
  <% end %>
</div>