<% if question.answer_ids.empty? %>
  <p style="color: #fff;"><i class="far fa-comment"></i>: <%= question.answer_ids.count %></p>
<% else %>
  <p style="color: #fff;"><i class="far fa-comment"></i>: <%= question.answer_ids.count %></p>
<% end %>