<div class='wrapper'>
  <div class='nav_main'>
    <%= render "articles/header"%>
  </div>
  <div class='main'>
    <div class='main_menu'>
      <h1 class="head_en">Room</h1>
      <h3 class="head__ja">チャットルームへようこそ</h3>
      <%= render "header"%>
    </div>
    <div class='main_content'>
      <div class='wrapper'>
        <div class='side-bar'>
          <% if user_signed_in? %>
          <div class="rooms">
            <% @room.each do |room| %>
              <div class="room">
                <div class="room-name">
                  <%= link_to room.name, room_messages_path(room), data: {"turbolinks"=>false} %>
                </div>
              </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>