<div class='wrapper'>
  <div class='nav_main'>
    <%= render "articles/header"%>
  </div>
  <div class='main'>
    <div class='main_menu'>
      <h1 class="head_en">UserList</h1>
      <h3 class="head__ja">ユーザーリスト</h3>
    </div>
    <div class='main_content'>
      <div class="Card__title">
        <h2>カード情報<h2>
      </div>
      <%if current_user.id == @user.id %>
        <div class="Card_info">
          【カード番号】
          <br>
          <%= "**** **** **** " + @card[:last4] %>
          <%# カード番号の下4桁を取得 %>

          <br>
          【有効期限】
          <br>
          <%= @card[:exp_month] %>
          <%# 有効期限の「月」を取得 %>
          /
          <%= @card[:exp_year] %>
          <%# 有効期限の「年」を取得 %>
        </div>
      </div><br>
      <% end %>
    </div>
  </div>
</div>