html {
  // font-family: 'fantasy';
  font-weight: 900;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}


a {
  background: transparent;
  color: #267594;
}


.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #d5e68b;

  .side-bar-header {
    margin: 10px;
    background-color: rgba(9,9,12,0);
    // background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    // background-position: bottom center;
    // background-repeat: repeat;
    // background-size: 300%;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.3);
  }

  .nav_main {
    width: 25%;
    background-color: yellow;

      .rooms {
      overflow: scroll;
      background-color:#eee!important;
    }
  }



  .content {
    width: 40%;
    background-color: #eee !important;
    // background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    // background-position: bottom center;
    // background-repeat: repeat;
    // background-size: 300%;
    // -webkit-transition-delay: 0s;
    //         transition-delay: 0s;
    // box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.3);
    margin: 40px;
    border-radius: 20px;
    overflow-y: auto;
  }

  .aside {
    width: 40%;
    background-color: #eee !important;
    // background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    // background-position: bottom center;
    // background-repeat: repeat;
    // background-size: 300%;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.3);
    margin: 100px 10px;
    overflow-y: auto;
  }
}

.olympic {
  float: left;
  font-size: 38px;
  color: #fff;
}

.nav__item {
  background-color: transparent;
}

.user__info {
  list-style-type: none;
  width: 800px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  background: rgba(1,1,1,0.5);
  float: right;
}
.user__info  .nav__item{
  position: relative;
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
.user__info  .nav__item a{
  display: block;
  margin: 0;
  padding: 13px 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}
.user__info  .nav__item .dropdown{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}

.user__info  .nav__item .dropdown li{
  overflow: hidden;
  width: 100%;
  height: 0;
  color: #fff;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}
.user__info  .nav__item .dropdown li a{
  padding: 13px 15px;
  background: #343a40;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
}
.user__info  .nav__item:hover > a{
  background: #fff;
  color: #e0dc62;
}
.user__info  .nav__item:hover .dropdown li{
  overflow: visible;
  height: 38px;
  border-bottom: 1px solid #fff;
}
.user__info  .nav__item:hover .dropdown li:first-child{
  border-top: 0;
}
.user__info  .nav__item:hover .dropdown li:last-child{
  border-bottom: 0;
}

.follow {
  position: absolute;
}

.search-form {
  background-color: #d5e68b;
}

.not_login {
  float: right;
  margin: 20px 30px;

  .login {
    padding: 10px;
    color: #eee;
  }

  .signup {
    padding: 10px;
    color: #eee;
  }
}