// Colours
$green: #84AD47;
$red: #AD4747;
$blue: #4784AD;

form {
  margin: 10% auto;
  min-width: 9rem;
}
  
input, textarea {
  float: left;
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: darken(#f9f9f9, 10%);
  color: darken(#f9f9f9, 50%);
  
  &[type=submit] {
    background: $green;
    color: #fff;
    width: auto;
    float: right;
  }

  &::placeholder {
    color: darken(#f9f9f9, 50%);
  }

  &.error {
    background: $red;
    color: #fff;
    &::placeholder {
      color: darken($red, 60%);
    }
  }
}
textarea {
  height: 10rem;
}
.captcha {
  float:left;
  input {
    float: right;
  }
  input[name=question] {
    width: 4rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: right;
    padding-right: 0;
  }
  [name=captcha] {
    width: 5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0.5rem;
    &::placeholder {
      text-align: center;
    }
  }
}




// Generic Styles ;)
* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto','Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

body {
  padding: 2rem;
  background: #f9f9f9;
  color: #2f2f2f;
  font-family: 'Roboto','Open Sans';
}

.upp {
  display: flex;
}