.nav_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:rgb(36, 36, 35);
  font-family: "GN-きんいろサンセリフ", sans-serif;
  font-size: 30px;


  .olympic {
    font-size: 38px;
    color: #fff;
    margin-top: 300px;
    margin-bottom: 100px;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
    .nav {
      color: #fff;
      line-height: 3rem;
      display: block;
      text-align: center;

      &:hover {
        background-color: #eee;
        color: rgb(36, 36, 35);
      }
    }

    .logout {
      margin-top: 30px;
      margin-bottom: 300px;
    }
  }
}
.wrapper .nav_main {
  width: 25%;
  background-color: rgb(36, 36, 35);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(36, 36, 35);
  font-family: "GN-きんいろサンセリフ", sans-serif;
  font-size: 30px;
}