.sold-out {
  color: rgb(196, 56, 56);
  font-weight: bold;
  display: inline;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.create-room {
  font-size: 10px;
}

.create-room a {
  border: 1px solid lightblue;
  padding: 14px;
  color: rgb(36, 35, 35);
  text-decoration: none;
}

.rooms {
  padding: 20px;
  overflow: scroll;
  margin: 30px 100px 30px;
  background-color: #fff;
  width: 70%;
  height: 500px;
  background-color: rgb(196, 161, 90);
  overflow: scroll;
}

.room {
  padding-top: 3px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.room-name a {
  text-decoration: none;
  color: rgb(36, 35, 35)
}

.chat {
  background-color: transparent;
}
.chat-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: rgb(36, 35, 35);
  font-size: 24px;
  margin-top: 36px;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  text-decoration: none;
}

i {
  font-size: 30px;
  margin-left: 10px;
  color: rgb(72, 151, 224);
}

.messages {
  background-color: rgba(196, 161, 204, 0.65);
  height: calc(100vh - 100px - 150px);
  width: 100%;
  padding: 46px 40px 0;
  overflow: auto;
  border-radius: 10px;
}

.message {
  margin: 10px 0;
  background-color: #eee;
  border-radius: 10px;
  padding: 10px;
  width: 70%;
}

.upper-message{
  display: flex;
}

.message-user {
  color: rgb(36, 35, 35);
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: rgb(36, 35, 35);
  font-size: 14px;
  text-align: left;
}

.message-form {
  background-color: transparent;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.message-form-input {
  background-color: transparent;
  display: flex;
  width: 100%;
}

.form-message {
  border: 1px solid #fff;
  height: 50px;
  width: 100%;
  padding-left: 10px;
  margin: 0;
  box-shadow: none;
  background-color: transparent;
}

.message-form-submit {
  background-color: #38AEF0;
  border: none;
  color: rgb(36, 35, 35);
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
  width: 20%;
}

.form-image {
  font-size: 12px;
  color: rgb(36, 35, 35);
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}