.question_wrapper {
  width: 100%;
  display: flex;

  .question_index {
    width: 70%;

    h1 {
      text-align: left;
      font-size: 30px;
      margin-left: 30px;
      color: rgb(180, 179, 179);
      margin-bottom: 20px;
    }

    .low {
      width: 100%;

      .content_post_question {
        padding-bottom: 20px;
        height: 100px;
        background-color: #ff795c;
        position: relative;
        border-bottom: 1px solid black;
        border-radius: 10px;

        .question_text {
          display: flex;
          flex-direction: column;
          
          .q_category {
            font-size: 12px;
            text-align: left;
            
          }
          .q_title {
            font-size: 16px;
            text-align: left;
          }
        }

        .question_sub {
          display: flex;

          .likey {
            position: absolute;
            bottom: 5px;
            left: 5px;
          }
          .q_time {
            text-align: right;
            font-size: 10px;
            position: absolute;
            bottom: 5px;
            right: 10px;
          }
          
        }
      }
    }
  }

  .question_aside {
    width: 30%;

    h3 {
      font-weight: bold;
    }

    .question_category {
      margin-top: 27px;

      .category_row {
        height: 300px;
        border:1px solid #fff;
        margin: 0 20px 100px;
      }
    }

    .question_answer {
      margin-top: 26px;

      .ranking_answer {
        height: 300px;
        border:1px solid #fff;
        margin: 0 20px 100px;
      }
    }

    .question_like {
      margin-top: 26px;

      .ranking_like {
        height: 300px;
        border:1px solid #fff;
        margin: 0 20px 100px;
      }
    }
  }
}

h3 {
  font-size: 30px;
}

.answer-container {

  .answer-text {
    text-align: left;
    font-size: 12px;
  }
  .answer-entry {
    font-size: 20px;
    overflow: auto;
  }
  .answe-date {
    text-align: right;
  }
  .ba-child {
    background-color: red;
    width: 40px;
  }
}

