.question_wrapper {
  width: 100%;
  display: flex;

  .question_index {
    width: 70%;

    h1 {
      text-align: left;
      font-size: 30px;
      margin-left: 30px;
      color: rgb(36, 35, 35);
      margin-bottom: 20px;
    }

    .low {
      width: 100%;

      .content_post_question {
        background-color: #ffff;
        border: 1px solid rgb(36, 35, 35);
        padding-bottom: 20px;
        height: 100px;
        position: relative;

        .question_text {
          display: flex;
          flex-direction: column;
          
          .q_category {
            font-size: 12px;
            text-align: left;
            
          }
          .q_title {
            font-size: 16px;
            text-align: left;
          }
        }

        .question_sub {
          display: flex;

          .likey {
            position: absolute;
            bottom: 5px;
            left: 5px;
          }
          .q_time {
            text-align: right;
            font-size: 10px;
            position: absolute;
            bottom: 5px;
            right: 10px;
          }
          
        }
      }
    }
  }

  .question_aside {
    width: 30%;

    h3 {
      font-weight: bold;
    }

    .question_category {
      height: 30%;
      margin-top: 27px;

      .category_row {
        height: 300px;
        border:1px solid black;
        background-color: rgb(196, 161, 90);
        margin: 0 20px 100px;
      }
    }

    .question_answer {
      height: 30%;
      margin-top: 26px;

      .ranking_answer {
        height: 300px;
        border:1px solid black;
        background-color: rgb(196, 161, 90);
        margin: 0 20px 100px;
      }
    }

    .question_like {
      height: 30%;
      margin-top: 26px;

      .ranking_like {
        height: 300px;
        border:1px solid black;
        background-color: rgb(196, 161, 90);
        margin: 0 20px 100px;
      }
    }
  }
}

h3 {
  font-size: 30px;
}

#qf {
  height: 20%;

  #qt {
    height: 50%;
  }

  #qs {
    height: 50%;
    font-size: 30px;
  }
}