

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  .up1 {
    background-color: lightgreen;
    height: 7vh;
    width: 100%;
    border: 1px solid lightyellow;
    display: flex;
    justify-content: center;

    .search-form {
      background-color: transparent;
      border: 1px solid black;
      border-radius: 20px;
      width: 20%;
      display: flex;
    }
  }
  .down1 {
    background-color: lightpink;
    height: calc(100%-10vh);
    width: 100%;
    display: flex;
  
    .side_main {
      background-color: lightseagreen;
      width: 5%;
      border: 1px solid lightyellow;
    }
    .nav_main {
      width: 20%;
      height: calc(100%-7vh);
      background-color: rgb(196, 161, 90);
      font-weight: bold;
      border: 1px solid lightyellow;
      .up2 {
        background-color: lightskyblue;
        border-bottom: 1px solid lightyellow;
        height: 10vh;
      }
      .down2 {
        background-color: rgb(70, 167, 113);
        border-bottom: 1px solid lightyellow;
        height: 90.4%;
        .navigation {
          display: flex;
          flex-direction: column;
          .nav {
            display: block;
            color: black;
          }
        }
      }
    }

    .main {
      background-color: #fff;
      text-align: center;
      width: 75%;
      position: relative;

      .surf_img {
        position: absolute;
        bottom: 50px;
        right: 150px;
        width: 200px;
        position: fixed;
      }

      .bat_img {
        position: absolute;
        bottom: 50px;
        left: 150px;
        width: 200px;
        position: fixed;
      }

      .main_menu {
        color: rgb(26, 25, 25);
        background-color: magenta;
        height: 10vh;
        position: relative;
        border-bottom: 1px solid lightyellow;

        .head_en {
          font-size: 10px;
          color: rgb(0, 0, 0);
          font-weight: bold;
        }

        .head__ja {
          font-size: 10px;
          color: rgb(0, 0, 0);
          font-weight: bold;
        }
      }

      .main_content {
        border-top: 1px solid rgb(36, 36, 35);
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        transform: translateZ(0);
        height: 85vh;
        border-bottom: 1px solid lightyellow;

        .aside {
          height: 100px;
        }
        .content {
          height: calc(100%-100px);
        }

        .present {
          font-size: 40px;
          padding-bottom: 50px;
          border-bottom:1px solid rgb(196, 161, 90);
          margin-bottom: 50px;

          h4 {
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 2rem;
          }
          p {
            margin-bottom: 20px;
            letter-spacing: 2px;
            font-size: 1rem;
          }        
          li {
            color: rgb(44, 44, 44);
            letter-spacing: 2px;
            font-size: 1rem;
            text-align: center;
          }
        }
      }
    }
  }
}

.gif {
  display: flex;
  justify-content: space-evenly;

  a {
    margin-right: 20px;
  }
}

.user_content {
  padding-top: 5%;
  border-top: 1px solid rgb(36, 36, 35);
  display: flex;

      .user_left {
        width: 30%;

        .user-image {
          margin-top: 50px;
          margin-left: 50px;
          border-radius: 100px;
        }

        .follow {
          background-color: rgb(196, 161, 90);
          color: #eee;
          margin-top: 20px;
          padding: 10px;
          border-radius: 10px;
        }
      }

      .user_right {
        width: 70%;

        .table-name{
          height: 500px;
          margin-left: 200px;
          margin-top: 100px;

          th {
            font-size: 20px;
            border-bottom:1px solid rgb(196, 161, 90);
          }

          td {
            font-size: 20px;
            border-bottom:1px solid rgb(196, 161, 90);
          }
        }
      }
}

.not_login {
  display: flex;
  flex-direction: column;
  margin: 20px 30px;
  margin-bottom: 400px;


  .login {
    padding: 10px;
    color: #eee;
    font-size: 15px;
  }

  .signup {
    padding: 10px;
    color: #eee;
    font-size: 15px;
  }
}