th, tr {
  color: rgba(0, 0, 0, 0.7);
}

a{
transition: all 0.3s;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #0097a7;

  .up1 {
    background-color: #006978;
    height: 7vh;
    width: 100%;
    z-index: 6;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: large;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.15);

    .search-form {
      background-color: transparent;
      border-radius: 20px;
      width: 20%;
      display: flex;
      height: 40px;
    }
    .user-profile {
      float: right;
      position: absolute;
      right: 10px;
    }
  }
  .down1 {
    height: calc(100%-10vh);
    width: 100%;
    display: flex;
  
    .side_main {
      background-color: #5ddef4;
      color: rgba(0, 0, 0, 0.7);
      width: 5%;
      z-index: 5;
      margin: 10px;
      box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.15);
      border-radius: 5px;
    }
    .nav_main {
      width: 20%;
      height: calc(100%-7vh);
      font-weight: bold;
      .up2 {
        background-color:  #00acc1;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        z-index: 4;
        box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.15);
        border-radius: 5px;
        p {
          color: rgba(0, 0, 0, 0.7);
          font-size: large;
        }
      }
      .down2 {
        background-color:#00acc1;;
        height: 70vh;
        margin: 10px;
        box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.15);
        border-radius: 5px;
        overflow: auto;
        .navigation {
          display: flex;
          flex-direction: column;
          display: block;
          color: rgba(0, 0, 0, 0.7);
          letter-spacing: 0.2rem;
          margin: 10px;
          z-index: 3;
          padding: 5px;
          border-radius: 10px;
          background-color: #007c91;
          a {
            color: rgba(0, 0, 0, 0.7);
            letter-spacing: 0.2rem;
            padding-top: 5px;
          }
          .ppp {
            font-size: 12px;            
            font-weight: bold;
            padding-left: 40px;
            display: none;
            a {
              color: rgba(0, 0, 0, 0.7);
              letter-spacing: 0.2rem;
              padding-top: 5px;
              &:hover {
                color: #fff;
              }
            }
          }
        }
      }
    }

    .main {
      text-align: center;
      width: 75%;
      position: relative;

      .main_menu {
        color: rgba(255, 255, 255, 0.7);
        height: 10vh;
        position: relative;
        background-color: #007c91;
        position: relative;
        margin: 10px;
        z-index: 2;
        box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.15);
        border-radius: 5px;

        .head_en {
          font-size: 20px;
          padding-top: 10px;
          color: rgba(0, 0, 0, 0.7);
          font-weight: bold;
        }
        .aside > .show_head {
          display: flex;
          p {
            font-weight: bold;
            color: rgba(0, 0, 0, 0.7);
            margin-left: 5px;
          }
          li {
            text-align: left;
            margin-left: 10px;
            padding: 5px;
            border-radius: 10px;
            margin-bottom: 5px;
            background-color: #b0003a;
            &:hover {
              background-color: #f44332;
            }
          }
        }
        .aside > .article_like > h3 {
          padding: 5px;
          border-radius: 5px;
          font-weight: bold;
          margin-right: 50px;
        }
        .aside > .ranking_like > a {
          background-color: #b0003a;
          padding: 5px;
          border-radius: 5px;
          &:hover {
            background-color: #f44332;
          }
        }
      }

      .main_content {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        transform: translateZ(0);
        height: 70vh;
        background-color: #0097a7;
        margin: 10px;
        z-index: 1;

        .aside {
          height: 100px;
        }
        .content {
          height: calc(100%-100px);
        }

        .present {
          font-size: 40px;
          padding-bottom: 50px;
          border-bottom:1px solid #fff;
          margin-bottom: 50px;

          h4 {
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 2rem;
          }
          p {
            margin-bottom: 20px;
            letter-spacing: 2px;
            font-size: 1rem;
          }        
          li {
            color: rgba(0, 0, 0, 0.7);
            letter-spacing: 2px;
            font-size: 1rem;
            text-align: center;
          }
        }
      }
    }
  }
  .footer {
    background-color: #56c8d8;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: #a00037;
      font-size: large;
      font-weight: bold;
    }
  }
}

.footer {
  background-color: #56c8d8;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: #a00037;
    font-size: large;
    font-weight: bold;
  }
}

.gif {
  display: flex;
  justify-content: space-evenly;

  a {
    margin-right: 20px;
  }
}

.user_content {
  padding-top: 5%;
  display: flex;

      .user_left {
        width: 30%;

        .user-image {
          margin-top: 50px;
          margin-left: 50px;
          border-radius: 100px;
        }

        .follow {
          background-color: #fff;
          color: #eee;
          margin-top: 20px;
          padding: 10px;
          border-radius: 10px;
        }
      }

      .user_right {
        width: 70%;

        .table-name{
          height: 500px;
          margin-left: 50px;
          margin-top: 100px;

          th {
            font-size: 20px;
            border-bottom:1px solid #fff;
          }

          td {
            font-size: 20px;
            border-bottom:1px solid #fff;
          }
        }
      }
}

.not_login {
  display: flex;
  flex-direction: column;
  margin: 20px 30px;
  margin-bottom: 400px;


  .login {
    padding: 10px;
    color: #eee;
    font-size: 15px;
  }

  .signup {
    padding: 10px;
    color: #eee;
    font-size: 15px;
  }
}

.firework {
  font-size: 100px;
  position: absolute;
  bottom: 10px;
  right: 50px;
}        

.fa-comment {
  color: #fff;
  font-size: 20px;
}

.fa-thumbs-up {
  color: #fff;
  font-size: 20px;
  }

.fabo {
  position: absolute;
  bottom: 5px;
}

.bomen {
  position: absolute;
  bottom: 5px;
  left: 60px;
}

.image-profile {
  border-radius: 30px;
  width: 50px;
  height: 50px;
}