.account-page .account-page__inner {
  width: 100%;
  margin: 60px auto;
  padding: 60px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.account-page .account-page__inner .account-page__inner--left, .account-page .account-page__inner .account-page__inner--right {
  float: left;
  width: 50%;
}
.account-page .account-page__inner:after {
  clear: both;
  content: "";
  display: block;
}
.account-page .account-page__header h2 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: 200;
}
.account-page .account-page__header h2:after {
  content: "";
  display: block;
  width: 60px;
  margin-top: 5px;
  border-bottom: 1px solid #38aef0;
}
.account-page .account-page__header h5 {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .account-page__header .btn {
  margin-top: 20px;
  color: rgb(180, 179, 179);
  background-color: #ccc;
  font-size: 14px;
}
.account-page .field {
  margin-bottom: 10px;
}
.account-page .field .field-label {
  color: rgb(180, 179, 179);
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .field .field-label i {
  font-size: 11px;
}
.account-page .field .field-input input {
  width: 100%;
  padding: 10px;
  letter-spacing: 1px;
}
.account-page .btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
}
.account-page input[type=submit] {
  float: left;
  margin-top: 20px;
  color: rgb(180, 179, 179);
  background-color: #38aef0;
}
.account-page .field-label .field_with_errors {
  display: inline-block;
  color: #d65f4c;
  font-weight: 400;
}
.account-page .field-input .field_with_errors {
  position: relative;
}
.account-page .field-input .field_with_errors:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background-color: #d65f4c;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
#error_explanation h2 {
  margin-bottom: 10px;
  color: #d65f4c;
  font-size: 14px;
}
#error_explanation ul {
  margin: 0;
  padding-left: 17px;
  list-style: square;
}
#error_explanation li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.Card_info {
  width: 50%;
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
}

.user-follow {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(196, 161, 90);
  padding-bottom: 15px;
}

a.btn {
  background-color: rgb(141, 189, 65);
  float: right;
  margin-top: 20px;
}


.fbtn {
  background-color: rgb(35, 32, 184);
  margin-top: 20px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
}

.gbtn {
  background-color: rgb(196, 36, 36);
  margin-top: 20px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
}
.pork {
  display: flex;
}
.gggg {
  background-color: #c8b900;
  padding: 5px;
}

.user_index {
  background-color: transparent;
  .content {
    background-color: #fff;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .flex {
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      .user_img {
        margin-left: 30px;
      }
      .name {
        font-size: 20px;
        margin-left: 20px;
        opacity: 0.9;
        color: rgba(0, 0, 0, 0.7);
      }
      .category {
        font-size: 20px;
        margin-left: 20px;
        opacity: 0.9;
        color: rgba(0, 0, 0, 0.7);
      }
      .count {
        font-size: 20px;
        margin-left: 20px;
        opacity: 0.9;
        color: rgba(0, 0, 0, 0.7);
      }
    }
    .pollow {
      margin-right: 10px;
      .chopo {
        background-color: #56c8d8;
        padding: 5px;
        border-radius: 10px;
        &:hover {
          opacity: 1;
        }
      }
      .bopo {
        background-color: #ff6090;
        padding: 5px;
        border-radius: 10px;
        color: rgba(0, 0, 0, 0.7);
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.pro_edit {
  background-color: #c8b900;
  padding: 5px;
  border-radius: 10px;
}

